/*
Estilos personalizados SETCOLOMBIA
*/
/* 
    Created on : 19/08/2020, 4:49:35 p. m.
    Author     : alejo
*/
.acciones_tabla {
  /*width: 15%;*/
  min-width: 12%;
}

.input_small{
    padding: 2px 2px;
    line-height: 16px;
    font-size: 14px;
}

.input_totales{
    padding: 6px 6px;
    font-size: 16px;
    line-height: 1.3;
    text-align: center;    
}

.btn-medium{
    padding: 2px 20px 2px 20px;
    line-height: 34px;
}

.numero {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  margin: 0;
}

.dark {
  color: #333333 !important;
}
.white {
  color: #ffffff !important;
}
.red {
  color: #dd5a43 !important;
}
.red2 {
  color: #e08374 !important;
}
.light-red {
  color: #ff7777 !important;
}
.blue {
  color: #478fca !important;
}
.light-blue {
  color: #93cbf9 !important;
}
.green {
  color: #69aa46 !important;
}
.light-green {
  color: #b0d877 !important;
}
.orange {
  color: #ff892a !important;
}
.orange2 {
  color: #feb902 !important;
}
.light-orange {
  color: #fcac6f !important;
}
.purple {
  color: #a069c3 !important;
}
.pink {
  color: #c6699f !important;
}
.pink2 {
  color: #d6487e !important;
}
.brown {
  color: #a52a2a !important;
}
.grey {
  color: #777777 !important;
}
.light-grey {
  color: #bbbbbb !important;
}

.btn.btn-white {
  text-shadow: none !important;
  background-color: #FFF !important;
}
.btn.btn-white.no-hover:hover,
.btn.btn-white.no-hover:active {
  background-color: #FFF !important;
}
.btn.btn-white:focus,
.btn.btn-white.active {
  box-shadow: inset 1px 1px 2px 0 rgba(0, 0, 0, 0.1) !important;
}
.btn.btn-white:focus.btn-bold,
.btn.btn-white.active.btn-bold {
  box-shadow: inset 1px 1px 3px 0 rgba(0, 0, 0, 0.15) !important;
}
.btn.btn-white.active:after {
  display: none;
}
.btn.btn-white {
  border-color: #cccccc;
  color: #444444 !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn.btn-white:hover,
.btn.btn-white:focus,
.btn.btn-white.active,
.btn.btn-white:active,
.open > .btn.btn-white.dropdown-toggle,
.open > .btn.btn-white.active.dropdown-toggle {
  background-color: #ebebeb !important;
  border-color: #cccccc;
  color: #3a3434 !important;
}
.btn.btn-white:hover.no-border,
.btn.btn-white:focus.no-border,
.btn.btn-white.active.no-border,
.btn.btn-white:active.no-border,
.open > .btn.btn-white.dropdown-toggle.no-border,
.open > .btn.btn-white.active.dropdown-toggle.no-border {
  border-color: #cccccc;
}
.btn.btn-white.disabled,
.btn.btn-white[disabled],
fieldset[disabled] .btn.btn-white,
.btn.btn-white.disabled:hover,
.btn.btn-white[disabled]:hover,
fieldset[disabled] .btn.btn-white:hover,
.btn.btn-white.disabled:focus,
.btn.btn-white[disabled]:focus,
fieldset[disabled] .btn.btn-white:focus,
.btn.btn-white.disabled:active,
.btn.btn-white[disabled]:active,
fieldset[disabled] .btn.btn-white:active,
.btn.btn-white.disabled.active,
.btn.btn-white[disabled].active,
fieldset[disabled] .btn.btn-white.active {
  border-color: #cccccc;
}
.btn-white.btn-default {
  border-color: #abbac3;
  color: #80909a !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-default:hover,
.btn-white.btn-default:focus,
.btn-white.btn-default.active,
.btn-white.btn-default:active,
.open > .btn-white.btn-default.dropdown-toggle,
.open > .btn-white.btn-default.active.dropdown-toggle {
  background-color: #eff2f4 !important;
  border-color: #abbac3;
  color: #6b8595 !important;
}
.btn-white.btn-default:hover.no-border,
.btn-white.btn-default:focus.no-border,
.btn-white.btn-default.active.no-border,
.btn-white.btn-default:active.no-border,
.open > .btn-white.btn-default.dropdown-toggle.no-border,
.open > .btn-white.btn-default.active.dropdown-toggle.no-border {
  border-color: #abbac3;
}
.btn-white.btn-default.disabled,
.btn-white.btn-default[disabled],
fieldset[disabled] .btn-white.btn-default,
.btn-white.btn-default.disabled:hover,
.btn-white.btn-default[disabled]:hover,
fieldset[disabled] .btn-white.btn-default:hover,
.btn-white.btn-default.disabled:focus,
.btn-white.btn-default[disabled]:focus,
fieldset[disabled] .btn-white.btn-default:focus,
.btn-white.btn-default.disabled:active,
.btn-white.btn-default[disabled]:active,
fieldset[disabled] .btn-white.btn-default:active,
.btn-white.btn-default.disabled.active,
.btn-white.btn-default[disabled].active,
fieldset[disabled] .btn-white.btn-default.active {
  border-color: #abbac3;
}
.btn-white.btn-primary {
  border-color: #8aafce;
  color: #6688a6 !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-primary:hover,
.btn-white.btn-primary:focus,
.btn-white.btn-primary.active,
.btn-white.btn-primary:active,
.open > .btn-white.btn-primary.dropdown-toggle,
.open > .btn-white.btn-primary.active.dropdown-toggle {
  background-color: #eaf2f8 !important;
  border-color: #8aafce;
  color: #537c9f !important;
}
.btn-white.btn-primary:hover.no-border,
.btn-white.btn-primary:focus.no-border,
.btn-white.btn-primary.active.no-border,
.btn-white.btn-primary:active.no-border,
.open > .btn-white.btn-primary.dropdown-toggle.no-border,
.open > .btn-white.btn-primary.active.dropdown-toggle.no-border {
  border-color: #8aafce;
}
.btn-white.btn-primary.disabled,
.btn-white.btn-primary[disabled],
fieldset[disabled] .btn-white.btn-primary,
.btn-white.btn-primary.disabled:hover,
.btn-white.btn-primary[disabled]:hover,
fieldset[disabled] .btn-white.btn-primary:hover,
.btn-white.btn-primary.disabled:focus,
.btn-white.btn-primary[disabled]:focus,
fieldset[disabled] .btn-white.btn-primary:focus,
.btn-white.btn-primary.disabled:active,
.btn-white.btn-primary[disabled]:active,
fieldset[disabled] .btn-white.btn-primary:active,
.btn-white.btn-primary.disabled.active,
.btn-white.btn-primary[disabled].active,
fieldset[disabled] .btn-white.btn-primary.active {
  border-color: #8aafce;
}
.btn-white.btn-success {
  border-color: #a7c9a1;
  color: #81a87b !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-success:hover,
.btn-white.btn-success:focus,
.btn-white.btn-success.active,
.btn-white.btn-success:active,
.open > .btn-white.btn-success.dropdown-toggle,
.open > .btn-white.btn-success.active.dropdown-toggle {
  background-color: #edf4eb !important;
  border-color: #a7c9a1;
  color: #6ea465 !important;
}
.btn-white.btn-success:hover.no-border,
.btn-white.btn-success:focus.no-border,
.btn-white.btn-success.active.no-border,
.btn-white.btn-success:active.no-border,
.open > .btn-white.btn-success.dropdown-toggle.no-border,
.open > .btn-white.btn-success.active.dropdown-toggle.no-border {
  border-color: #a7c9a1;
}
.btn-white.btn-success.disabled,
.btn-white.btn-success[disabled],
fieldset[disabled] .btn-white.btn-success,
.btn-white.btn-success.disabled:hover,
.btn-white.btn-success[disabled]:hover,
fieldset[disabled] .btn-white.btn-success:hover,
.btn-white.btn-success.disabled:focus,
.btn-white.btn-success[disabled]:focus,
fieldset[disabled] .btn-white.btn-success:focus,
.btn-white.btn-success.disabled:active,
.btn-white.btn-success[disabled]:active,
fieldset[disabled] .btn-white.btn-success:active,
.btn-white.btn-success.disabled.active,
.btn-white.btn-success[disabled].active,
fieldset[disabled] .btn-white.btn-success.active {
  border-color: #a7c9a1;
}
.btn-white.btn-danger {
  border-color: #d7a59d;
  color: #b7837a !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-danger:hover,
.btn-white.btn-danger:focus,
.btn-white.btn-danger.active,
.btn-white.btn-danger:active,
.open > .btn-white.btn-danger.dropdown-toggle,
.open > .btn-white.btn-danger.active.dropdown-toggle {
  background-color: #fbf4f3 !important;
  border-color: #d7a59d;
  color: #b46f64 !important;
}
.btn-white.btn-danger:hover.no-border,
.btn-white.btn-danger:focus.no-border,
.btn-white.btn-danger.active.no-border,
.btn-white.btn-danger:active.no-border,
.open > .btn-white.btn-danger.dropdown-toggle.no-border,
.open > .btn-white.btn-danger.active.dropdown-toggle.no-border {
  border-color: #d7a59d;
}
.btn-white.btn-danger.disabled,
.btn-white.btn-danger[disabled],
fieldset[disabled] .btn-white.btn-danger,
.btn-white.btn-danger.disabled:hover,
.btn-white.btn-danger[disabled]:hover,
fieldset[disabled] .btn-white.btn-danger:hover,
.btn-white.btn-danger.disabled:focus,
.btn-white.btn-danger[disabled]:focus,
fieldset[disabled] .btn-white.btn-danger:focus,
.btn-white.btn-danger.disabled:active,
.btn-white.btn-danger[disabled]:active,
fieldset[disabled] .btn-white.btn-danger:active,
.btn-white.btn-danger.disabled.active,
.btn-white.btn-danger[disabled].active,
fieldset[disabled] .btn-white.btn-danger.active {
  border-color: #d7a59d;
}
.btn-white.btn-warning {
  border-color: #e7b979;
  color: #daa458 !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-warning:hover,
.btn-white.btn-warning:focus,
.btn-white.btn-warning.active,
.btn-white.btn-warning:active,
.open > .btn-white.btn-warning.dropdown-toggle,
.open > .btn-white.btn-warning.active.dropdown-toggle {
  background-color: #fef7ec !important;
  border-color: #e7b979;
  color: #db9a3d !important;
}
.btn-white.btn-warning:hover.no-border,
.btn-white.btn-warning:focus.no-border,
.btn-white.btn-warning.active.no-border,
.btn-white.btn-warning:active.no-border,
.open > .btn-white.btn-warning.dropdown-toggle.no-border,
.open > .btn-white.btn-warning.active.dropdown-toggle.no-border {
  border-color: #e7b979;
}
.btn-white.btn-warning.disabled,
.btn-white.btn-warning[disabled],
fieldset[disabled] .btn-white.btn-warning,
.btn-white.btn-warning.disabled:hover,
.btn-white.btn-warning[disabled]:hover,
fieldset[disabled] .btn-white.btn-warning:hover,
.btn-white.btn-warning.disabled:focus,
.btn-white.btn-warning[disabled]:focus,
fieldset[disabled] .btn-white.btn-warning:focus,
.btn-white.btn-warning.disabled:active,
.btn-white.btn-warning[disabled]:active,
fieldset[disabled] .btn-white.btn-warning:active,
.btn-white.btn-warning.disabled.active,
.btn-white.btn-warning[disabled].active,
fieldset[disabled] .btn-white.btn-warning.active {
  border-color: #e7b979;
}
.btn-white.btn-info {
  border-color: #8fbcd9;
  color: #70a0c1 !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-info:hover,
.btn-white.btn-info:focus,
.btn-white.btn-info.active,
.btn-white.btn-info:active,
.open > .btn-white.btn-info.dropdown-toggle,
.open > .btn-white.btn-info.active.dropdown-toggle {
  background-color: #eef5fa !important;
  border-color: #8fbcd9;
  color: #5896bf !important;
}
.btn-white.btn-info:hover.no-border,
.btn-white.btn-info:focus.no-border,
.btn-white.btn-info.active.no-border,
.btn-white.btn-info:active.no-border,
.open > .btn-white.btn-info.dropdown-toggle.no-border,
.open > .btn-white.btn-info.active.dropdown-toggle.no-border {
  border-color: #8fbcd9;
}
.btn-white.btn-info.disabled,
.btn-white.btn-info[disabled],
fieldset[disabled] .btn-white.btn-info,
.btn-white.btn-info.disabled:hover,
.btn-white.btn-info[disabled]:hover,
fieldset[disabled] .btn-white.btn-info:hover,
.btn-white.btn-info.disabled:focus,
.btn-white.btn-info[disabled]:focus,
fieldset[disabled] .btn-white.btn-info:focus,
.btn-white.btn-info.disabled:active,
.btn-white.btn-info[disabled]:active,
fieldset[disabled] .btn-white.btn-info:active,
.btn-white.btn-info.disabled.active,
.btn-white.btn-info[disabled].active,
fieldset[disabled] .btn-white.btn-info.active {
  border-color: #8fbcd9;
}
.btn-white.btn-inverse {
  border-color: #959595;
  color: #555555 !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-inverse:hover,
.btn-white.btn-inverse:focus,
.btn-white.btn-inverse.active,
.btn-white.btn-inverse:active,
.open > .btn-white.btn-inverse.dropdown-toggle,
.open > .btn-white.btn-inverse.active.dropdown-toggle {
  background-color: #e4e4e4 !important;
  border-color: #959595;
  color: #4c4545 !important;
}
.btn-white.btn-inverse:hover.no-border,
.btn-white.btn-inverse:focus.no-border,
.btn-white.btn-inverse.active.no-border,
.btn-white.btn-inverse:active.no-border,
.open > .btn-white.btn-inverse.dropdown-toggle.no-border,
.open > .btn-white.btn-inverse.active.dropdown-toggle.no-border {
  border-color: #959595;
}
.btn-white.btn-inverse.disabled,
.btn-white.btn-inverse[disabled],
fieldset[disabled] .btn-white.btn-inverse,
.btn-white.btn-inverse.disabled:hover,
.btn-white.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-white.btn-inverse:hover,
.btn-white.btn-inverse.disabled:focus,
.btn-white.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-white.btn-inverse:focus,
.btn-white.btn-inverse.disabled:active,
.btn-white.btn-inverse[disabled]:active,
fieldset[disabled] .btn-white.btn-inverse:active,
.btn-white.btn-inverse.disabled.active,
.btn-white.btn-inverse[disabled].active,
fieldset[disabled] .btn-white.btn-inverse.active {
  border-color: #959595;
}
.btn-white.btn-pink {
  border-color: #d299ae;
  color: #af6f87 !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-pink:hover,
.btn-white.btn-pink:focus,
.btn-white.btn-pink.active,
.btn-white.btn-pink:active,
.open > .btn-white.btn-pink.dropdown-toggle,
.open > .btn-white.btn-pink.active.dropdown-toggle {
  background-color: #fbeff4 !important;
  border-color: #d299ae;
  color: #ac5978 !important;
}
.btn-white.btn-pink:hover.no-border,
.btn-white.btn-pink:focus.no-border,
.btn-white.btn-pink.active.no-border,
.btn-white.btn-pink:active.no-border,
.open > .btn-white.btn-pink.dropdown-toggle.no-border,
.open > .btn-white.btn-pink.active.dropdown-toggle.no-border {
  border-color: #d299ae;
}
.btn-white.btn-pink.disabled,
.btn-white.btn-pink[disabled],
fieldset[disabled] .btn-white.btn-pink,
.btn-white.btn-pink.disabled:hover,
.btn-white.btn-pink[disabled]:hover,
fieldset[disabled] .btn-white.btn-pink:hover,
.btn-white.btn-pink.disabled:focus,
.btn-white.btn-pink[disabled]:focus,
fieldset[disabled] .btn-white.btn-pink:focus,
.btn-white.btn-pink.disabled:active,
.btn-white.btn-pink[disabled]:active,
fieldset[disabled] .btn-white.btn-pink:active,
.btn-white.btn-pink.disabled.active,
.btn-white.btn-pink[disabled].active,
fieldset[disabled] .btn-white.btn-pink.active {
  border-color: #d299ae;
}
.btn-white.btn-purple {
  border-color: #b7b1c6;
  color: #7d6fa2 !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-purple:hover,
.btn-white.btn-purple:focus,
.btn-white.btn-purple.active,
.btn-white.btn-purple:active,
.open > .btn-white.btn-purple.dropdown-toggle,
.open > .btn-white.btn-purple.active.dropdown-toggle {
  background-color: #efedf5 !important;
  border-color: #b7b1c6;
  color: #6d5b9c !important;
}
.btn-white.btn-purple:hover.no-border,
.btn-white.btn-purple:focus.no-border,
.btn-white.btn-purple.active.no-border,
.btn-white.btn-purple:active.no-border,
.open > .btn-white.btn-purple.dropdown-toggle.no-border,
.open > .btn-white.btn-purple.active.dropdown-toggle.no-border {
  border-color: #b7b1c6;
}
.btn-white.btn-purple.disabled,
.btn-white.btn-purple[disabled],
fieldset[disabled] .btn-white.btn-purple,
.btn-white.btn-purple.disabled:hover,
.btn-white.btn-purple[disabled]:hover,
fieldset[disabled] .btn-white.btn-purple:hover,
.btn-white.btn-purple.disabled:focus,
.btn-white.btn-purple[disabled]:focus,
fieldset[disabled] .btn-white.btn-purple:focus,
.btn-white.btn-purple.disabled:active,
.btn-white.btn-purple[disabled]:active,
fieldset[disabled] .btn-white.btn-purple:active,
.btn-white.btn-purple.disabled.active,
.btn-white.btn-purple[disabled].active,
fieldset[disabled] .btn-white.btn-purple.active {
  border-color: #b7b1c6;
}
.btn-white.btn-yellow {
  border-color: #ecd181;
  color: #d3a61a !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-yellow:hover,
.btn-white.btn-yellow:focus,
.btn-white.btn-yellow.active,
.btn-white.btn-yellow:active,
.open > .btn-white.btn-yellow.dropdown-toggle,
.open > .btn-white.btn-yellow.active.dropdown-toggle {
  background-color: #fdf7e4 !important;
  border-color: #ecd181;
  color: #c29712 !important;
}
.btn-white.btn-yellow:hover.no-border,
.btn-white.btn-yellow:focus.no-border,
.btn-white.btn-yellow.active.no-border,
.btn-white.btn-yellow:active.no-border,
.open > .btn-white.btn-yellow.dropdown-toggle.no-border,
.open > .btn-white.btn-yellow.active.dropdown-toggle.no-border {
  border-color: #ecd181;
}
.btn-white.btn-yellow.disabled,
.btn-white.btn-yellow[disabled],
fieldset[disabled] .btn-white.btn-yellow,
.btn-white.btn-yellow.disabled:hover,
.btn-white.btn-yellow[disabled]:hover,
fieldset[disabled] .btn-white.btn-yellow:hover,
.btn-white.btn-yellow.disabled:focus,
.btn-white.btn-yellow[disabled]:focus,
fieldset[disabled] .btn-white.btn-yellow:focus,
.btn-white.btn-yellow.disabled:active,
.btn-white.btn-yellow[disabled]:active,
fieldset[disabled] .btn-white.btn-yellow:active,
.btn-white.btn-yellow.disabled.active,
.btn-white.btn-yellow[disabled].active,
fieldset[disabled] .btn-white.btn-yellow.active {
  border-color: #ecd181;
}
.btn-white.btn-grey {
  border-color: #c6c6c6;
  color: #8c8c8c !important;
  /**
 //&:hover, &:focus, &.focus, .open > &.dropdown-toggle {
	//color: saturate(darken(@txt-color , 5%) , 5%) !important;
 //}
 //&.no-border:hover , &.no-border:active {
	//border-color: @border-color;
 //}
 */
}
.btn-white.btn-grey:hover,
.btn-white.btn-grey:focus,
.btn-white.btn-grey.active,
.btn-white.btn-grey:active,
.open > .btn-white.btn-grey.dropdown-toggle,
.open > .btn-white.btn-grey.active.dropdown-toggle {
  background-color: #ededed !important;
  border-color: #c6c6c6;
  color: #857979 !important;
}
.btn-white.btn-grey:hover.no-border,
.btn-white.btn-grey:focus.no-border,
.btn-white.btn-grey.active.no-border,
.btn-white.btn-grey:active.no-border,
.open > .btn-white.btn-grey.dropdown-toggle.no-border,
.open > .btn-white.btn-grey.active.dropdown-toggle.no-border {
  border-color: #c6c6c6;
}
.btn-white.btn-grey.disabled,
.btn-white.btn-grey[disabled],
fieldset[disabled] .btn-white.btn-grey,
.btn-white.btn-grey.disabled:hover,
.btn-white.btn-grey[disabled]:hover,
fieldset[disabled] .btn-white.btn-grey:hover,
.btn-white.btn-grey.disabled:focus,
.btn-white.btn-grey[disabled]:focus,
fieldset[disabled] .btn-white.btn-grey:focus,
.btn-white.btn-grey.disabled:active,
.btn-white.btn-grey[disabled]:active,
fieldset[disabled] .btn-white.btn-grey:active,
.btn-white.btn-grey.disabled.active,
.btn-white.btn-grey[disabled].active,
fieldset[disabled] .btn-white.btn-grey.active {
  border-color: #c6c6c6;
}

.btn-mini{
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

.floatSet{
 position:fixed;
 width:60px;
 height:60px;
 bottom:50%;
 right:5px;
 background-color:#1572e8;
 color:#FFF !important;
 border-radius:20px;
 text-align:center;
 font-size:30px;
 box-shadow: 2px 2px 3px #999 !important;
 z-index:100;
}

.floatSet:hover{
 text-decoration: none;
 color: #FFF;
}

.floatIcon{
 margin-top:14px;
}

/* Bloque de formulario Click to Dial */
.dialer-form {
 display: block;
 position: fixed;
 bottom: 33%;
 right: 70px;
 border: 3px solid #f1f1f1;
 z-index: 9;
}

/* Contenedor del Form */
.form-container {
 max-width: 300px;
 padding: 10px;
 background-color: white;
}

/* Input para el número telefónico */
.form-container input {
 width: 90%;
 padding: 15px;
 margin: 5px 0 22px 0;
 border: none;
 background: #f1f1f1;
 resize: none;
}

.form-container input:focus {
 background-color: #ddd;
 outline: none;
}

.form-container .btn:hover, .open-button:hover {
 opacity: 10;
}

.small-padding {
    padding-bottom: 0.25rem;
}

#dialer {
   -moz-animation: slide 1s ease 3.5s forwards;
   -webkit-animation: slide 1s ease 3.5s forwards;
   -o-animation: slide 1s ease 3.5s forwards;
   -ms-animation: slide 1s ease 3.5s forwards;
    animation: slide 1s ease 3.5s forwards;
}

.shownBlock{
    display: block;
}

.hiddenBlock{
    display: none;
}